/* 
--COMANDOS

background-color: Serve para dar cor ao fundo, ou melhor, preencher tudo, normalmente é usado para dar ao body, mas pode ser usado em outras tags também.

color: Serve para dar cor a algo, seja titulo ou palavras e letras.

font: Serve para determinar o tipo de fonte, tamanho e posições das palavras e letras usadas no site. 

*/

body {
    background-color: rgb(53, 114, 227);
    color: white;
}
